.body {
  margin: 0;
}

.app-container {
  display: flex;
}

.text-editor-pane {
  display: flex;
}

.whiteboard-container {
  max-width: 50%;
  border: 3px solid black;
  padding: 0.5rem;
}

.whiteboard-top {
  display: flex;
  justify-content: space-between;
  background-color: hsl(255, 6%, 13%);

  padding: 0.5rem 0.5rem 0.5rem 1rem;
  border-radius: 0.5rem;
}

.editor-container {
  max-width: 50%;
  flex-grow: 1;
  flex-basis: 0;
  flex-direction: column;

  padding: 0.5rem;
  background-color: hsl(255, 6%, 25%);
}

.editor-top {
  display: flex;
  justify-content: space-between;
  background-color: hsl(255, 6%, 13%);
  color: white;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}

.CodeMirror {
  height: 75vh !important;
}

.code-mirror-wrapper {
  flex-grow: 1;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  overflow: hidden;
}

.box {
  width: 500px;
  padding: 100px;
  top: 20%;
  right: 15%;
  position: absolute;
  background: #191919;
  text-align: center;
}

.box input[type="text"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}

.box input[type="text"]:focus {
  width: 280px;
  border-color: #2ecc71;
}

.box button[type="submit"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

.box button[type="submit"]:hover {
  background: #2ecc71
}

.box h1{
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-weight: 500;
  font-family: sans-serif;
}
.box h3{
  color: white;
  font-weight: 500;
  font-family: sans-serif;
}
