.body {
  margin: 0;
}

.app-container {
  display: flex;
}

.text-editor-pane {
  display: flex;
}

.whiteboard-container {
  max-width: 50%;
  border: 3px solid black;
  padding: 0.5rem;
}

.whiteboard-top {
  display: flex;
  justify-content: space-between;
  background-color: hsl(255, 6%, 13%);

  padding: 0.5rem 0.5rem 0.5rem 1rem;
  border-radius: 0.5rem;
}

.editor-container {
  max-width: 50%;
  flex-grow: 1;
  flex-basis: 0;
  flex-direction: column;

  padding: 0.5rem;
  background-color: hsl(255, 6%, 25%);
}

.editor-top {
  display: flex;
  justify-content: space-between;
  background-color: hsl(255, 6%, 13%);
  color: white;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}

.CodeMirror {
  height: 75vh !important;
}

.code-mirror-wrapper {
  flex-grow: 1;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  overflow: hidden;
}
